/* Hide tabs bar 
 * (Use with Tab Center Reborn)
 * */
#main-window:not([customizing]):not([tabsintitlebar="true"]) #toolbar-menubar[inactive="true"] + #TabsToolbar {
  visibility: collapse !important;
}

/* if the titlebar is also hidden and your browser
 * is maximized,
 * clicking on the top pixel of the screen active
 * menu items (Fitt’s law) */
#toolbar-menubar {
  padding-top: 0px !important;
}

#TabsToolbar {
    visibility: collapse;
}
/* End hide tabs bar */


/* *
 * Tab Center Reborn Tweaks
 * https://framagit.org/ariasuni/tabcenter-reborn
 * */

    /* Move sidebar header to the bottom (Tab Center Reborn) */
#sidebar-box {
  -moz-box-direction: reverse;
}
#sidebar-switcher-arrow {
  transform: rotate(180deg);
}
    /* End Move sidebar header to the bottom */

/** *
 * Combat white flash
 * */
@-moz-document url("about:newtab") {
    body { background-color: #011326 !important;}
}

browser { background-color: #011326 !important; }
